body {
  height: 100vh;
  background: linear-gradient(#FFC2FF, #E0C2FF, #FFF5FF);
  position: relative;

}

/*#bub2 {
  margin-top: 90px;
}
*/

p {
text-align: center;
  font-size: 70px;
  font-family: 'Amatic SC', cursive;
  color: #3385FF;
  opacity: 0.6;
  margin-top: 90px;
  z-index: 10;
  position: relative;
}

#one {
  width: 120px;
  height: 120px;
  background: linear-gradient(#FF99FF, #FFEBF5);
  border-radius: 60px;
  position: absolute;
  left: 100px;
  opacity: 0.45;
 
}

#two {
  width: 100px;
  height: 100px;
  background: linear-gradient(#E6B4FF, #FFEBF5);
  border-radius: 50px;
  position: absolute;
  left: 300px;
  top: 300px;
  opacity: 0.7;

}

#three {
  width: 180px;
  height: 180px;
  background: linear-gradient(#E0FFD6, #FF99FF);
  border-radius: 100px;
  position: absolute;
  left: 400px;
  opacity: 0.57;

}

#four {
  width: 300px;
  height: 300px;
  background: linear-gradient(#FF99FF, #FFEBF5);
  border-radius: 150px;
  position: absolute;
  left: 100px;
  opacity: 0.3;
}

#five {
  width: 100px;
  height: 100px;
  background: linear-gradient(#E6B4FF, #FF99FF, #FFEBF5);
  border-radius: 50px;
  position: absolute;
  left: 300px;
  top: 300px;
  opacity: 0.6;
}

#six {
 width: 180px;
 height: 180px;
  background: linear-gradient(#E6B4FF, #FFFFE0, #FF99FF);
  border-radius: 100px;
  position: absolute;
  left: 700px;
bottom: 400px;
opacity: 0.6 ;
}

#seven {
  width: 120px;
  height: 120px;
  background: linear-gradient(#FF99FF, #FFEBF5);
  border-radius: 60px;
  position: absolute;
   left: 700px;
 bottom: 400px;
 opacity: 0.4;
}

#eight {
  width: 100px;
  height: 100px;
  background: linear-gradient(#E6B4FF, #FFEBF5);
  border-radius: 50px;
  position: absolute;
  left: 300px;
  bottom: 300px;
  opacity: 0.7;
}

#nine {
  width: 180px;
  height: 180px;
  background: linear-gradient(#FFCCFF, #FF99FF);
  border-radius: 100px;
  position: absolute;
  left: 400px;
  bottom: 500px;
  opacity: 0.4;
}

#ten {
  width: 120px;
  height: 120px;
  background: linear-gradient(#FF99FF, #FFEBF5);
  border-radius: 60px;
  position: absolute;
  left: 500px;
  bottom: 500px;
  opacity: 0.7;
}

#eleven {
  width: 250px;
  height: 250px;
  background: linear-gradient(#E6B4FF, #FFEBF5);
  border-radius: 125px;
  position: absolute;
  left: 400px;
  bottom: 700px;
  opacity: 0.5;
}

#twelve {
  width: 180px;
  height: 180px;
  background: linear-gradient(#E0D1FF, #FFF5F0);
  border-radius: 100px;
  position: absolute;
  left: 300px;
  bottom: 900px;
  opacity: 0.6;
}

#thirteen {
  width: 120px;
  height: 120px;
  background: linear-gradient(#FF99FF, #FFEBF5);
  border-radius: 60px;
  position: absolute;
  left: 700px;
  bottom: 1500px;
  opacity: 0.4;
}

#fourteen {
  width: 100px;
  height: 100px;
  background: linear-gradient(#FFFFF5, #FFEBF5);
  border-radius: 50px;
  position: absolute;
  left: 300px;
  bottom: 1200px;
  opacity: 0.7;
}

#fifteen {
  width: 180px;
  height: 180px;
  background: linear-gradient(#F5D6EB, #FF99FF);
  border-radius: 100px;
  position: absolute;
  left: 1000px;
  bottom: 1200px;
  opacity: 0.4;
}

#sixteen {
  width: 160px;
  height: 160px;
  background: linear-gradient(#E0D1FF, #FFFFF5);
  border-radius: 80px;
  position: absolute;
  left: 1000px;
  bottom: 1200px;
  opacity: 0.7;
}

#seventeen {
  width: 180px;
  height: 180px;
  background: linear-gradient(#E0D1FF,#F5D6EB, #FF99FF);
  border-radius: 100px;
  position: absolute;
  left: 300px;
  bottom: 900px;
  opacity: 0.4;
}

#eighteen {
  width: 180px;
  height: 180px;
  background: linear-gradient(#E0D1FF, #FF99FF);
  border-radius: 90px;
  position: absolute;
  left: 300px;
  bottom: 800px;
  opacity: 0.6;
}

#nineteen {
    width: 120px;
    height: 120px;
    background: linear-gradient(#FF99FF, #FFEBF5);
    border-radius: 60px;
    position: absolute;
    left: 200px;
    bottom: 700px;
    opacity: 0.7;
}

    #twenty {
      width: 140px;
      height: 140px;
      background: linear-gradient(#EBF0FF, #EBE0FF);
      border-radius: 70px;
      position: absolute;
      left: 100px;
      bottom: 500px;
      opacity: 0.6;
    }


    #twentyone {
      width: 120px;
      height: 120px;
      background: linear-gradient(#FFCCE0, #EBF0FF);
      border-radius: 60px;
      position: absolute;
      left: 100px;
      bottom: 400px;
      opacity: 0.6;
    }

    #twentytwo {
      width: 120px;
      height: 120px;
      background: linear-gradient(#EBF0FF, #FFEBF5);
      border-radius: 60px;
      position: absolute;
      left: 800px;
      bottom: 200px;
      opacity: 0.7;
    }

    #twentythree {
      width: 120px;
      height: 120px;
      background: linear-gradient(#FFCCE0, #FFE0FF);
      border-radius: 60px;
      position: absolute;
      left: 600px;
      opacity: 0.5;
    }
    #twentyfour {
      width: 40px;
      height: 40px;
      background: linear-gradient(#FFCCE0, #FFEBF5, #FFFFE0);
      border-radius: 20px;
      position: absolute;
      left: 500px;
      opacity: 0.9;
    }
    #twentyfive {
      width: 30px;
      height: 30px;
      background: linear-gradient(#FFCCE0, #FFE0FF);
      border-radius: 15px;
      position: absolute;
      left: 450px;
      opacity: 0.4;
    }

    #twentysix {
      width: 50px;
      height: 50px;
      background: linear-gradient(#FFCCE0, #FFE0FF);
      border-radius: 25px;
      position: absolute;
      left: 100px;
      opacity: 0.7;
    }

    #twentysix {
      width: 300px;
      height: 300px;
      background: linear-gradient(#FFE0FF, #FFEBF5, #75FFFF);
      border-radius: 150px;
      position: absolute;
      left: 100px;
      opacity: 0.3;
    }

    #twentyseven {
      width: 300px;
      height: 300px;
      background: linear-gradient(#FFFFF5, #FFFFE0, #B2FFFF, #FFEBF5, #FFEBF5);
      border-radius: 500px;
      position: absolute;
      left: 100px;
      opacity: 0.3;
    }

    #twentyeight {
      width: 100px;
      height: 100px;
      background: linear-gradient(#FFFFE0, #FFADD6, #FFEBF5);
      border-radius: 50px;
      position: absolute;
      left: 100px;
      opacity: 0.5;
    }

    #twentynine {
      width: 120px;
      height: 120px;
      background: linear-gradient(#FFCCE0, #FFEBF5, #FFB2FF, #FFFFE0);
      border-radius: 60px;
      position: absolute;
      left: 100px;
      opacity: 0.6;
    }

  #thirty {
    width: 120px;
    height: 120px;
    background: linear-gradient(#FFFFE0, #FFEBF5);
    border-radius: 60px;
    position: absolute;
    left: 100px;
    opacity: 0.4;
  }

  #thirtyone {
    width: 120px;
    height: 120px;
    background: linear-gradient(#FF99FF, #FFEBF5);
    border-radius: 60px;
    position: absolute;
    left: 100px;
    opacity: 0.3;
   
  }

